.product-video {
  margin-top: 25px;
  margin-bottom: 50px;
  .product-video-main {
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1150px;
    height: 650px;
    .product-video-content:focus {
      outline: none;
    }
  }
}
