.list-carousel-product-fashion {
    width: 435px;
    .list-carousel-product-fashion-main {
        .slick-slider {
            .slick-prev {
                background-color: black;
                left: 0;
                width: 35px;
                height: 35px;
                z-index: 1;
            }
            .slick-next {
                background-color: black;
                right: 0;
                width: 35px;
                height: 35px;
            }
        }
    }
}
