.fashion-selection {
  .fashion-selection-main {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    .fashion-selection-content {
      width: 330px;
      .fashion-selection-img {
        img {
          width: 330px;
          height: 355px;
        }
      }
    }
  }
}
