.woman-fashion {
  display: none;
  position: absolute;
  top: 46px;
  left: -239px;
  z-index: 1;
  background-color: #fff;
  .woman-fashion-main {
    margin: 0 15px;
    padding-top: 20px;
    .woman-fashion-selection {
      display: flex;
      padding-inline-start: 0;
      .woman-fashion-selection-content {
        margin: 0 15px;
        .woman-fashion-content {
          .woman-fashion-section {
            margin-bottom: 35px;
            .title {
              margin-bottom: 15px;
              text-align: start;
              .title-text {
                text-transform: uppercase;
                font-family: Roboto-Black;
                font-size: 13px;
              }
            }
            .img {
              margin-top: 5px;
              margin-bottom: 25px;
              .img-link {
                .woman-fashion-img {
                  width: 150px;
                  height: 90px;
                }
              }
            }
            .list {
              padding-inline-start: 0;
              .list-space {
                height: 1px;
                width: 50px;
                margin: 25px 0;
                background-color: #757577;
              }
              .list-content {
                margin: 5px 0;
                text-align: start;
                .list-link {
                  .list-text {
                    font-family: Roboto-Light;
                    font-size: 13px;
                    color: black;
                  }
                  .list-text:hover {
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
