.product-content {
  .img-product {
    .product-image {
      width: 455px;
      height: 490px;
    }
  }
  .information-product {
  }
}

.product-new {
  border: 1px solid #757575;
  .img-product {
    .product-image {
      width: 455px;
      height: 270px;
    }
  }
  .information-product {
    padding: 0 30px;
  }
}
