.product-list {
  .product-list-main {
    display: flex;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    .product-list-content {
      width: 330px;
      .product-list-img {
        img {
          width: 330px;
          height: 355px;
        }
      }
    }
  }
}
